#UI_Asteroid{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
}

#UI_Asteroid #RessourcesDiv{
    position: absolute;
    top: 1vw;
    left: 1vw;

    column-gap: 1vw;
}

#UI_Asteroid #RightButtonsDiv{
    position: absolute;
    right: 1vw;

    row-gap: 3vh;

    z-index: 3;
}

#UI_Asteroid #TopTexts{
    position: absolute;
    top: 1vw;
    width: 100%;

    justify-content: flex-start;
    row-gap: 1vh;
}


#UI_Asteroid .UI_WindowFrame{
    margin-top: 12vh;
    margin-left: 1vw;
    margin-bottom: 3vh;
    margin-right: 7vw;
}

#UI_Asteroid #LogEventsDiv{
    row-gap: 2vh;
    font-size: small;
}
#UI_Asteroid #LogEventsDiv .UI_TimelineLineDiv{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

#UI_Asteroid #Window_Construction .UI_WindowContent{
    overflow-y: hidden;
    flex-direction: row;
}
#UI_Asteroid #ConstructionQueueScroller{
    overflow-y: scroll;
    padding-right: 2vw;
}
#UI_Asteroid #ConstructionQueueDiv{
    row-gap: 3vh;
}
#UI_Asteroid #ConstructionQueueDiv .UI_TimelineLineDiv{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
#UI_Asteroid .UI_TimelineStepPoint{
    margin-right: 1vw;
}
#UI_Asteroid .ConstructionQueueItem .Miniature{
    position: relative;
    border: 1px solid white;
}
#UI_Asteroid .ConstructionQueueItem img{
    width: 10vh;
    height: 10vh;
}
#UI_Asteroid .ConstructionQueueItem .DurationText{
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    background-color: black;    
}
#UI_Asteroid .ConstructionQueueItem .RightPanel{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}
#UI_Asteroid .ConstructionQueueItem .ButtonsPanel{
    display: flex;
    flex-direction: row;
    column-gap: 0.5vw;
}
#UI_Asteroid .ConstructionQueueItem .UI_Button{
    border-radius: 0.8vw;
    width: 3vw;
    height: 3vw;
}