#UI_Asteroid{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
}

#UI_Asteroid #RessourcesDiv{
    position: absolute;
    top: 1vw;
    left: 1vw;

    column-gap: 1vw;
}

#UI_Asteroid #RightButtonsDiv{
    position: absolute;
    right: 1vw;

    row-gap: 3vh;

    z-index: 3;
}

#UI_Asteroid #TopTexts{
    position: absolute;
    top: 1vw;
    width: 100%;

    justify-content: flex-start;
    row-gap: 1vh;
}


#UI_Asteroid .UI_WindowFrame{
    margin-top: 12vh;
    margin-left: 1vw;
    margin-bottom: 3vh;
    margin-right: 7vw;
}


/* Applicable to all windows */
#UI_Asteroid .Miniature{
    position: relative;
    border: 1px solid white;
}


/* Log events window */
#UI_Asteroid #LogEventsDiv{
    row-gap: 2vh;
    font-size: small;
}
#UI_Asteroid #LogEventsDiv .UI_TimelineLineDiv{
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}
#UI_Asteroid .Miniature img{
    width: 10vh;
    height: 10vh;
}
#UI_Asteroid .Miniature .DurationText{
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    background-color: black;    
}

/* Construction queue common styling */
#UI_Asteroid .UI_Timeline{
    row-gap: 3vh;
}
#UI_Asteroid .UI_TimelineStepPoint{
    margin-right: 1vw;
}
#UI_Asteroid .UI_Timeline .UI_TimelineLineDiv{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
#UI_Asteroid .QueueItem{
    position: relative;
    top: 0;
    transition: 0.3s ease-in top;
}
#UI_Asteroid .QueueItem .RightPanel{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}
#UI_Asteroid .QueueItem .ButtonsPanel{
    display: flex;
    flex-direction: row;
    column-gap: 0.5vw;
}
#UI_Asteroid .QueueItem .UI_Button{
    border-radius: 0.5em;
    width: 3em;
    height: 3em;
}
#UI_Asteroid .QueueItem .UI_Button p{
    font-size: medium;
    text-align: center;
    vertical-align: middle;
}


/* Pick items common stying */
#UI_Asteroid .PickItem{
    border: 1px solid white;
    border-radius: 0.5vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    column-gap: 1vw;
}
#UI_Asteroid .PickItem .UI_Button{
    height: 8vh;
    width: 2vw;
    border-radius: 0.5vw;
    writing-mode: sideways-lr;
}
#UI_Asteroid .PickItem .RightPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#UI_Asteroid .PickItem .Name{
    font-weight: bold;
    margin-bottom: 0.5vh;
}
#UI_Asteroid .PickItem .NumberFramesDiv{
    display: flex;
    margin-top: 2vh;
    column-gap: 1vw;
}
#UI_Asteroid .PickItem .NumberFrameDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.2vh;
}
#UI_Asteroid .PickItem .NumberFrameTitle{
    font-size: x-small;
    background-color: black;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}
#UI_Asteroid .PickItem .NumberFrameContent{
    position: relative;
    border: 1px solid white;
    border-radius: 0.25vw;
    display: flex;
    column-gap: 1vw;
    padding: 0.5vw;
}

/* Construction window */
#UI_Asteroid #Window_Construction .UI_WindowContent{
    overflow-y: hidden;
    flex-direction: row;
}
#UI_Asteroid #ConstructionPicksScroller{
    padding-right: 2vw;
    flex: 1;
}
#UI_Asteroid .PicksDiv{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}


/* Shipyard window */
#UI_Asteroid #Window_Shipyard .UI_WindowContent{
    overflow-y: hidden;
    flex-direction: row;
}
#UI_Asteroid #SpaceshipsPickScroller{
    padding-right: 2vw;
    flex: 1;
}