.UI_Factory{
    display: none !important;
}

.UI_Frame{
    background-color: rgb(20,20,20);
    border: 1px solid white;
    border-radius: 1vh;

    padding: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.UI_Column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.UI_Row{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.UI_Scroller{
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 2vw;
}

.UI_Button{
    width: 4vw;
    height: 4vw;
    border: 2px solid white;
    border-radius: 5vw;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}
.UI_Button p{
    color: inherit;
}

.UI_Ressource{
    display: flex;
    align-items: center;
    column-gap: 0.3em;
    font-size: medium;
}
.UI_RessourceImg{
    width: 1.3em;
    height: 1.3em;
}
.UI_RessourceP{
    font-size: small;
    font-family: "Orbitron", monospace;
    font-weight: 500;
}

.UI_Window{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: stretch;
}
.UI_Window .UI_WindowFrame{
    box-sizing: border-box;
    padding: 3vh;
    flex: 1;
    margin: 5vh;

    z-index: 2;
}
.UI_Window .UI_WindowContent{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow-y: scroll;
}

.UI_Timeline{
    position: relative;

    display: flex;
    flex-direction: column;
}
.UI_TimelineStep{
    display: flex;
    align-items: center;
    column-gap: 1vw;
}
.UI_TimelineStepPoint{
    width: 0.8em;
    height: 0.8em;
    background-color: white;
    border-radius: 1vh;
}
.UI_TimelineLineDiv{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;

    width: 0.8em;
}
.UI_TimelineLine{
    height: 100%;
    border-left: 0.2vh solid white;
}

.UI_VerticalSeparator{
    border-left: 1px solid white;
    height: 100%;
    margin-left: 2vw;
    margin-right: 2vw;
}

.UI_TabView{
    display: flex;
}
.UI_TabViewButtonsDiv{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    row-gap: 0.5em;
}
.UI_TabViewButton{
    border: 1px solid white;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    cursor: pointer;
}
.UI_TabViewButton p{
    writing-mode: sideways-rl;
}
.UI_TabViewContent{
    flex: 1;
    border-left: 1px solid white;
    display: flex;
    padding: 1em;
    padding-left: 2em;
}
.UI_TabViewContentChild{
    width: 100%;
}

.UI_RollingNumberDiv{
    display: flex;
}
.UI_RollingNumberDigitWindow{
    height: 1.5em;
    overflow-y: hidden;
    overflow-x: hidden;
}
.UI_RollingNumberStrip{
    position: relative;
    top:0;
    width: 1.2em;

    display: flex;
    flex-direction: column;
}
.UI_RollingNumberDigitDiv{
    position: absolute;
    top:0;

    box-sizing: border-box;
    border: 1px solid white;

    width: 100%;
    height: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}
.UI_RollingNumberDigitP{
    font-size: small;
}