#View_Asteroid{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;

    display: flex;
}
#View_Asteroid #LeftPanel{
    position: relative;
    flex: 2;

    display: flex;
}
#View_Asteroid #RightPanel{
    position: relative;
    flex: 1;

    display: flex;
}
#View_Asteroid #RightPanelContent{
    display: flex;
    width: 100%;
}
#View_Asteroid #RightTabView{
    width: 100%;
    height: 100%;
}

#View_Asteroid #RessourcesDiv{
    position: absolute;
    top: 0;
    left: 2em;

    column-gap: 1em;
    padding: 1em;

    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#View_Asteroid #TopTexts{
    position: absolute;
    top: 1vw;
    width: 100%;

    justify-content: flex-start;
    row-gap: 1vh;
}


#View_Asteroid .Miniature{
    position: relative;
    border: 1px solid white;
}
#View_Asteroid .Miniature img{
    width: 8em;
    height: 8em;
}
#View_Asteroid .Miniature .DurationText{
    font-size: small;
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
    background-color: black;    
}

/* UI_timeline elements */
#View_Asteroid .UI_Timeline{
    row-gap: 3vh;
}
#View_Asteroid .UI_TimelineStepPoint{
    margin-right: 1vw;
}

/* Log events panel */
#View_Asteroid #LogEventsDiv{
    row-gap: 2vh;
    font-size: small;
}

/*  Queue panel */
#View_Asteroid #ConstructionsQueuePanel{
    display: flex;
    flex-direction: column;
}
#View_Asteroid #ConstructionQueueScroller{
    width: 100%;
}
#View_Asteroid .QueueStatusLabel{
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    font-size: small;
}
#View_Asteroid .QueueItem{
    position: relative;
    top: 0;
    transition: 0.3s ease-in top;
}
#View_Asteroid .QueueItem .RightPanel{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}
#View_Asteroid .QueueItem .ButtonsPanel{
    display: flex;
    flex-direction: row;
    column-gap: 0.5vw;
}
#View_Asteroid .QueueItem .UI_Button{
    border-radius: 0.5em;
    width: 3em;
    height: 3em;
}
#View_Asteroid .QueueItem .UI_Button p{
    font-size: medium;
    text-align: center;
    vertical-align: middle;
}

/* Pick items */
#View_Asteroid .PicksDiv{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}
#View_Asteroid .PickItem{
    border: 1px solid white;
    border-radius: 0.5vw;
    padding: 1vw;

    display: flex;
    align-items: stretch;
    column-gap: 1em;
}
#View_Asteroid .PickItem .RightPanel{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
}
#View_Asteroid .PickItem .TopPanel{
    display: flex;
    align-items: flex-start;
    column-gap: 1em;
}
#View_Asteroid .PickItem .ButtonCentralizer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#View_Asteroid .PickItem .UI_Button{
    flex: 1;
    width: auto;
    height: auto;
    padding: 0.5em;
    border-radius: 0.5em;
    writing-mode: sideways-lr;
    word-break: keep-all;
}
#View_Asteroid .PickItem .Name{
    font-weight: bold;
    margin-bottom: 0.5vh;
}
#View_Asteroid .PickItem .NumberFramesDiv{
    display: flex;
    column-gap: 1em;
    flex-wrap: wrap;
}
#View_Asteroid .PickItem .NumberFrameDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.2vh;
}
#View_Asteroid .PickItem .NumberFrameTitle{
    font-size: x-small;
    background-color: black;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}
#View_Asteroid .PickItem .NumberFrameContent{
    position: relative;
    border: 1px solid white;
    border-radius: 0.25vw;
    display: flex;
    column-gap: 0.8em;
    padding: 0.5vw;
}